html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

body {
  background-color: #1B1F3B;
  color: #fff;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

header h1 {
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #A1A8D9;
}

main {
  flex: 1;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: auto;
}

footer p {
  margin: 0;
}

footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

footer ul li {
  margin-left: 20px;
}

footer ul li a img {
  width: 48px;
  height: 48px;
}

/* form de contact  */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2C2F48;
  border-radius: 10px;
}

form h2 {
  text-align: center;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  color: #A1A8D9;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #673DB6;
  color: #fff;
  cursor: pointer;
}

form button:hover {
  background-color: #5A2D82;
}

.section-title {
  margin-left: 50px;
}
